.sub-heading {
    font-size: 2rem;
    color: var(--theme-color);
    text-transform: uppercase;
}

.sub-heading span {
    font-family: var(--caveat-font), cursive;
    font-size: 3.5rem;
    color: #fff;
}