.contact {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .section-border {
    position: absolute;
    left: 20rem;
    top: 30%;
}

.contact-content {
    width: 120rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-left div {
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.contact-left .icon {
    width: 5rem;
    height: 5rem;
    background-color: #1d222a;
    border: .2rem solid #bbb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    margin-right: 9rem;
    position: relative;
}

.contact-left .icon::after {
    content: "";
    width: 4rem;
    height: 0.2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -4rem;
}

.contact-info {
    width: 20rem;
    display: flex;
    flex-direction: column;
}

.contact-info span {
    width: 100%;
}

.contact span:nth-child(1) {
    font-family: var(--caveat-font), cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: .5rem;
}

.contact span:nth-child(2) {
    font-size: 1.6rem;
    font-weight: 300;
    color: #777;
}

.contact-right {
    width: 60rem;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-groups {
    display: flex;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 1.5rem 2rem;
}

.input-group label .icon {
    font-size: 1.2rem;
    color: var(--theme-color);
}

.input-group input,
.input-group textarea {
    height: 6rem;
    margin: 0 3rem 5rem 0;
    background-color: #1d222a;
    border: .2rem solid #777;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    padding: 1rem 1rem 1rem 2rem;
}

.input-groups input {
    width: 35rem;
}

.input-group textarea {
    height: 12rem;
    margin-bottom: 2rem;
    resize: none;
}

.contact-btn {
    width: calc(100% - 3rem);
    height: 5rem;
    background-color: #29a587;
    border: 0.2rem solid #bbb;
    border-radius: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    cursor: pointer;
}