.contact {
    width: 100%;
    height: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-content {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.contact-content h1 {
    font-size: 3rem;
    color: #ccc;
    text-transform: uppercase;
}

.contact-content input {
    width: 45rem;
    height: 4rem;
    background-color: transparent;
    padding: 1.5rem 1.5rem 2.2rem 0;
    border: none;
    border-bottom: .1rem solid #777;
    font-size: 1.8rem;
    color: #ccc;
    transition: border-bottom .3s;
}

.contact-content input:focus {
    border-bottom: .1rem solid var(--theme-color);
}

.contact-content input::placeholder {
    color: #ccc;
    letter-spacing: .1rem;
}

.contact-right {
    position: relative;
}

.contact-content .icon {
    color: #ccc;
    font-size: 1.8rem;
    position: absolute;
    top: 20%;
    right: 0;
    cursor: pointer;
}

/* @media (max-width: 1700px) {
    .contact .section-border {
        left: 10rem;
    }

    .contact-content {
        width: 120rem;
    }
}

@media (max-width: 1500px) {
    .contact-content {
        width: 110rem;
    }
}

@media (max-width: 1200px) {
    .contact-content {
        width: 100rem;
        justify-content: space-evenly;
    }

    .contact-right {
        margin-right: -15rem;
    }

    .input-groups {
        flex-direction: column;
    }

    .input-groups input {
        width: 60rem;
    }
}

@media (max-width: 900px) {
    .contact-content {
        width: 110rem;
    }

    .contact-right {
        margin-right: -5rem;
    }
}

@media (max-width: 700px) {
    .contact-content {
        width: 70rem;
    }

    .contact-left {
        display: none;
    }
}

@media (max-width: 500px) {

    .contact-content {
        width: 55rem;
    }

    .input-groups input {
        width: 50rem;
    }
} */