.about {
    width: 100%;
    height: 75vh;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #313133;
    ;
}

.about-img-wrapper {
    width: 50rem;
    height: 35rem;
    position: absolute;
    top: 8rem;
    right: 33rem;
}

.about-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-left h1 {
    font-size: 5rem;
    color: #fff;
    width: 50rem;
    margin-bottom: 6rem;
}

.about-left p {
    font-size: 2rem;
    color: #fff;
    width: 50rem;
    margin-bottom: 5rem;
}

.about-left button {
    width: 18rem;
}

.frame {
    width: 50rem;
    height: 35rem;
    border: 3rem solid #555;
    position: absolute;
    top: 15rem;
    right: 40rem;
}

.section-bottom {
    right: 33rem;
}

.section-bottom h1 {
    font-family: var(--alfa-slab-one-font), cursive;
    font-size: 6rem;
    color: #555;
    letter-spacing: .5rem;
}

.section-bottom h3 {
    font-size: 2.5rem;
    color: #fff;
}



@media(max-width: 1700px) {
    .frame {
        width: 45rem;
        height: 30rem;
        right: 20rem;
    }

    .about-right {
        margin-right: 20rem;
    }

    .about-img-wrapper {
        width: 45rem;
        height: 30rem;
        right: 13rem;
    }

    .experience {
        right: 20rem;
    }
}

@media(max-width: 1400px) {
    .frame {
        width: 40rem;
        height: 25rem;
        right: 15rem;
    }

    .about-img-wrapper {
        width: 40rem;
        right: 8rem;
        height: 25rem;
    }

    .experience {
        right: 12rem;
    }
}

@media(max-width: 900px) {
    .about-left h1 {
        font-size: 3rem;
        width: 35rem;
    }

    .about-left p {
        width: 35rem;
        font-size: 1.7rem;
    }

    .frame {
        width: 30rem;
        height: 15rem;
        border: 1.5rem solid #555;
        right: 10rem;
    }

    .about-img-wrapper {
        width: 30rem;
        right: 7rem;
        top: 12rem;
        height: 15rem;
    }

    .experience {
        right: 7rem;
    }
}

@media(max-width: 600px) {

    .about {
        justify-content: center;
        height: 100%;
        padding: 10rem 0 25rem 0;
    }

    .about-left {
        text-align: center;
        margin-right: 0;
    }

    .about-right {
        display: none;
    }
}