.footer {
    width: 100%;
    height: 7rem;
    border-top: 0.1rem solid #444;
    position: relative;
}

.footer .icon {
    font-size: 2rem;
}

.brand-footer {
    position: absolute;
    top: 3.5rem;
    left: 20%;
    translate: 0 -50%;
}

.copyright {
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    right: 20%;
    font-size: 1.6rem;
    color: #ccc;
}

@media(max-width: 1700px) {
    .brand-footer {
        left: 16%;
    }

    .copyright {
        right: 16%;
    }
}

@media(max-width: 1200px) {
    .brand-footer {
        left: 10%;
    }

    .copyright {
        right: 10%;
    }
}