
.project-img {
    width: 36rem;
    height: 20rem;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


.project-card {
    width: 40rem;
    height: 55rem;
    background-color: #1d222a;
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 1.5s;
}

.project-img img:hover {
    transform: scale(1.3);
}

.techs {
    margin-top: -3rem;
}

.techs span {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--theme-color);
    letter-spacing: 0.1rem;
}

.project-name {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    margin-top: -2rem;
}

.project-description {
    font-family: var(--caveat-font), cursive;
    font-size: 2.2rem;
    color: #ccc;
}


.project-btn {
    width: 20rem;
    height: 4rem;
    background-color: transparent;
    font-size: 1.8rem;
    text-align: left;
    color: #fff;
    border: none;
    cursor: pointer;
}

.project-btn .icon {
    color: var(--theme-color);
    margin-left: 1rem;
    transition: margin-left .3s;
}

.project-btn:hover .icon {
    margin-left: 2rem;
}

.projects .btn {
    margin: 5rem 0 0 0;
}