.section-heading {
  font-size: 8rem;
  color: #fff;
  margin: 0 0 10rem 9rem;
  letter-spacing: .2rem;
}

/* 
@media (max-width: 500px) {

    .section-heading {
      text-align: center;
    }

} */