.projects {
    width: 100%;
    height: 100vh;
    position: relative;
}

.section-heading {
    margin: 7rem 0 10rem 9rem;
}

.cards {
    width: 90%;
    margin: auto;
    display: flex;
}

.designs {
    right: 12rem;
}

@media(max-width: 1700px) {
    .projects {
        height: 100%;
    }

    .cards {
        width: 80%;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 25rem;
    }


}

@media(max-width: 600px) {
    .section-heading {
        font-size: 6rem;
    }
}