.landing {
    width: 100%;
    height: 90vh;
    position: relative;
}

.landing-img {
    width: 100%;
    height: 70vh;
    position: absolute;
    top: 11rem;
    left: 50%;
    translate: -50%;
}

.landing-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}

.banner {
    position: absolute;
    bottom: 15rem;
    left: 20rem;
}

.banner-heading {
    font-size: 9rem;
    color: #fff;
}

.banner-heading span {
    font-family: var(--alfa-slab-one-font), cursive;
    font-size: 8rem;
    color: var(--theme-color);
    letter-spacing: .5rem;
}

.banner-content {
    display: flex;
    align-items: center;
}

.banner-content p {
    width: 45rem;
    font-size: 2rem;
    color: #fff;
    margin-right: 2rem;
}

.banner-content button {
    width: 15rem;
    height: 5rem;
    background-color: transparent;
    border: .3rem solid #fff;
    color: #fff;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}









/* 
.section-bg-heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30rem;
    width: 100%;
    text-align: center;
    font-family: var(--caveat-font), cursive;
    color: #31363d;
    opacity: .5;
}

.logo {
    position: absolute;
    top: 4rem;
    left: 5rem;
    font-size: 3rem;
}

.logo span:nth-child(1) {
    color: #fff;
}

.logo span:nth-child(2) {
    font-size: 5rem;
    font-family: var(--caveat-font), cursive;
    font-weight: bold;
    color: var(--theme-color);
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.developer-info {
    margin-right: 15rem;
}

.greeting {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1rem;
}

.greeting span {
    color: var(--theme-color);
}

.name {
    font-size: 10rem;
    width: 60rem;
    margin: 4rem 0 2rem 0;
    color: #fff;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.name span {
    color: var(--theme-color);
}

.prof {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .2rem;
    margin-bottom: 6rem;
}

.prof span {
    font-family: var(--caveat-font), cursive;
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    margin-left: 1.2rem;
}


.about {
    width: 60rem;
    font-family: var(--caveat-font), cursive;
    font-size: 2.5rem;
    line-height: 1;
    color: #a9abae;
    margin-bottom: 5rem;
}

.social-media {
    margin-bottom: 5rem;
}

.cv-btn::after {
    content: "";
    width: 5rem;
    height: .2rem;
    background-color: #bbb;
    position: absolute;
    top: 50%;
    right: -5rem;
    transform: translateY(-50%);
}

.cv span {
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}

.developer-img {
    position: relative;
}

.dev-img-wrapper {
    width: 60rem;
    height: 60rem;
    background-color: var(--theme-color);
    border-radius: 50%;
    padding: 2rem 2rem 0 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
    overflow: hidden;
}

.dev-img-wrapper img {
    width: 100%;
    height: 100%;
}

.dev-work {
    width: 25rem;
    height: 9rem;
    background-color: var(--dark-blue);
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fff;
    border: .2rem solid #bbb;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    position: absolute;
}

.dev-experience {
    bottom: 10rem;
    right: 40rem;
}

.dev-projects {
    bottom: 1rem;
    right: -2rem;
}

.dev-work span:nth-child(1) {
    font-size: 3rem;
    width: 50%;
    text-align: center;
}

.dev-work span:nth-child(2) {
    color: var(--theme-color);
    width: 50%;
}

@media (max-width: 1500px) {
    .name {
        font-size: 7rem;
        width: 40rem;
    }

    .about {
        width: 45rem;
    }

    .dev-img-wrapper {
        width: 40rem;
        height: 40rem;
    }

    .dev-work {
        width: 20rem;
        height: 7rem;
        padding: 0 1rem;
    }

    .dev-work span:nth-child(1) {
        font-size: 2rem;
        width: 35%;
    }

    .dev-experience {
        bottom: 22rem;
        right: 25rem;
    }

    .dev-projects {
        bottom: 14rem;
        right: -4rem;
    }
}

@media (max-width: 700px) {

    .developer-img {
        display: none;
    }
}

@media (max-width: 500px) {
    .banner {
        width: 70%;
    }
} */