.skills {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .section-border {
    position: absolute;
    left: 20rem;
    top: 50%;
    transform: translateY(-50%);
}

.skills-cards {
    width: 140rem;
    margin: 8rem 0 0 10rem;
    display: flex;
    flex-wrap: wrap;
}

.skills-card {
    width: 40rem;
    height: 18rem;
    margin: 3rem;
    padding: 0 3rem;
    position: relative;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.skill span {
    font-size: 2rem;
    color: #eee;
}

.skill span:nth-child(2) {
    color: var(--theme-color);
}

.skills-card p {
    font-family: var(--caveat-font), cursive;
    font-size: 2rem;
    color: #bbb;
    margin-bottom: 4rem;
}

.skills-card-progress {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #1d222a;
    border: .2rem solid #bbb;
    border-radius: 50%;
    position: absolute;
    bottom: -1.25rem;
}

.skills-card-progress::before {
    content: "";
    height: .2rem;
    background-color: var(--theme-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.skills-card-progress::after {
    content: "";
    height: .2rem;
    background-color: #777;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.skills-card:nth-child(1) .skills-card-progress {
    right: 10%;
}

.skills-card:nth-child(1) .skills-card-progress::before {
    right: 2.5rem;
    width: 33rem;
}

.skills-card:nth-child(1) .skills-card-progress::after {
    right: -4.3rem;
    width: 4rem;
}


.skills-card:nth-child(2) .skills-card-progress {
    right: 15%;
}

.skills-card:nth-child(2) .skills-card-progress::before {
    right: 2.5rem;
    width: 31.5rem;
}

.skills-card:nth-child(2) .skills-card-progress::after {
    right: -6.1rem;
    width: 5.8rem;
}


.skills-card:nth-child(3) .skills-card-progress {
    right: 20%;
}

.skills-card:nth-child(3) .skills-card-progress::before {
    right: 2.5rem;
    width: 29.5rem;
}

.skills-card:nth-child(3) .skills-card-progress::after {
    right: -8.2rem;
    width: 7.9rem;
}


.skills-card:nth-child(4) .skills-card-progress {
    right: 30%;
}

.skills-card:nth-child(4) .skills-card-progress::before {
    right: 2.5rem;
    width: 25.5rem;
}

.skills-card:nth-child(4) .skills-card-progress::after {
    right: -12.2rem;
    width: 12rem;
}


.skills-card:nth-child(5) .skills-card-progress {
    right: 20%;
}

.skills-card:nth-child(5) .skills-card-progress::before {
    right: 2.5rem;
    width: 29.5rem;
}

.skills-card:nth-child(5) .skills-card-progress::after {
    right: -8.2rem;
    width: 7.9rem;
}

.skills-card:nth-child(6) .skills-card-progress {
    right: 30%;
}

.skills-card:nth-child(6) .skills-card-progress::before {
    right: 2.5rem;
    width: 25.5rem;
}

.skills-card:nth-child(6) .skills-card-progress::after {
    right: -12.2rem;
    width: 12rem;
}
