.btn {
    width: 15rem;
    height: 5rem;
    background-color: transparent;
    border: .3rem solid #fff;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.white {
    color: #fff;
}

.yellow {
    border: .2rem solid var(--theme-color);
    color: var(--theme-color);
}